// main: alux.scss

/* Button */
.button {
  font-size: 14px;
  color: #fff;
  background: $call-color;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 12px 25px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-shadow: none;
}
.button:hover {
  background: darken($call-color, 10%);
  color: #fff;
}
