// main: alux.scss
/* Typography */

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.gigantic   { font-size: 110px;  letter-spacing: -2px; }
.huge, h1, .h1  {  font-size: 56px; line-height: 1.05; }
.large, h2, .h2 { font-size: 32px; line-height: 1.38; }
.bigger, h3, .h3 { font-size: 28px; line-height: 1.38; }
.big, h4, .h4   { font-size: 24px; line-height: 1.38; }
.normal, h5, .h5 { font-size: 19px; line-height: 1.38; }
.small, h6, .h6, small { font-size: 15px; line-height: 1.2; }



.bold{font-weight: 700;}
.light{font-weight: 300;}
.ttu{text-transform: uppercase;}

/* Title color */
.gigantic, .huge, .large, .bigger, .big, h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin-bottom: $gutter / 1.5;
}

/* Link color */
a, .link-color {
  color: $call-color;
}
a:focus, a:hover {
  color: darken($call-color , 10%);
}

/* Paragraph */
p { margin-bottom: $gutter / 1.5; font-size: 16px; }

/* Blockquote */
blockquote {
  font-weight: 200;
  font-size: 20px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0 30px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  border-left: 5px solid #eee;
}

/* List */
ul { list-style: circle inside; margin-bottom: 40px; }
ol { list-style: decimal inside; margin-bottom: 40px; }
ol, ul { padding-left: 0; margin-top: 0; }
ul ul, ul ol, ol ol, ol ul { margin: 20px 0 20px 40px; }
li { margin-bottom: 10px; }

/* Table */
table { margin-bottom: 40px; }
th, td { padding: 12px 15px; text-align: left; border-bottom: 1px solid #e1e1e1; }

/* Table */
table { margin-bottom: 40px; }
th, td { padding: 12px 15px; text-align: left; border-bottom: 1px solid #e1e1e1; }

/* hr */
hr {
  margin-top: 20px;
  margin-bottom: 40px;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}
hr.spacer { border-top: 1px solid transparent; }


@media (max-width: 767px) {

  .gigantic   { font-size: 74px;}
  h1{font-size: 44px;}

}
