// main: alux.scss

$gutter : 30px; /* Gutter of the grid */
$gutter-mobile : 20px; /* Gutter of the grid */

$call-color: #2edaf0; /* Links color */

$menu-color: #2b2b2b; /* menu bg color */

	$menu-text-color: #fff; /* menu text color */
	$menu-text-color-hover: #000;

	$dropdown-text-color: #666;
	$dropdown-text-color-hover: #000;

	$dropdown-bg-color: #fff;
	$dropdown-bg-color-hover: #eee;

	$menu-mobile-text-color-hover: #8b8b8b;

	$menu-mobile-text-color-select: #fff;
