// main: alux.scss

$gutter : 40px; /* Gutter of the grid */
$gutter-mobile : 20px; /* Gutter of the grid */

$call-color: #2edaf0; /* Links color */

$menu-color: #333; /* menu bg color */

	$menu-text-color: #fff; /* menu text color */
	$menu-text-color-hover: #000;

	$dropdown-text-color: #666;
	$dropdown-text-color-hover: #000;

	$dropdown-bg-color: #fff;
	$dropdown-bg-color-hover: #eee;

	$menu-mobile-text-color-hover: #999;

	$menu-mobile-text-color-select: #fff;


$media-desktop: 768px;
$media-tablet: 991px;
$media-smartphone: 767px;
