.bg-primary{background: #eee;border-radius: 3px;}
.trasparent{background: none;}
.module { background: #ccc;padding:10px 15px; border-radius: 3px; }


#multiple-grids span{display: inline-block;width:50%;font-weight: bold;}
/* .light{font-size: 16px;opacity:0.4;font-weight: normal;} */
#multiple-grids span small{opacity: 0.5}
.line-tab{margin-bottom: 7px;}

.col .module{background: #27e56b;}
.green{color: #27e56b}
.evi{color: #fd22d2}

.normal{font-weight: normal; font-size: 16px;}
.giga{display: block;margin-bottom: 10px;font-size: 48px;}

.classes-hide{width:0px; overflow: hidden;display: inline-block;height: 10px;}
.classes-visible{opacity:0.5;width:auto;height: auto;display: inline;}
#show-classes{background: red; padding: 10px; font-size: 14px; color:#fff; position: fixed; top:100px; right:0;cursor:pointer; z-index: 99}
pre {
	overflow: auto;
	max-width: 1250px;
	margin:20px auto 40px auto;border: 1px solid #ccc; font-size:14px; padding: 0 20px;
	border-left: 8px solid lime;
	display:block;
	font:normal 12px/22px Monaco,Monospace !important;
	color:#000;
	background-color:#2f2f2f;
	background-image:-webkit-repeating-linear-gradient(top, #f9f9f9 0px, #f9f9f9 22px, #fff 22px, #fff 44px);
	background-image:-moz-repeating-linear-gradient(top, #f9f9f9 0px, #f9f9f9 22px, #fff 22px, #fff 44px);
	background-image:-ms-repeating-linear-gradient(top, #f9f9f9 0px, #f9f9f9 22px, #fff 22px, #fff 44px);
	background-image:-o-repeating-linear-gradient(top, #f9f9f9 0px, #f9f9f9 22px, #fff 22px, #fff 44px);
	background-image:repeating-linear-gradient(top, #f9f9f9 0px, #f9f9f9 22px, #fff 22px, #fff 44px);
	padding:0em 1em;
	overflow:auto;
	}

	#features span,
	#mobile span{font-size: 12px}

	@media (max-width: 767px) {

		#show-classes,
		#features span,
		.classes-hide,
		#mobile span{display: none; }

	}

	/* Dots Nav */
 /*.sl-pagination {
		 text-align: center;
			position: absolute;
			bottom:18px;
			z-index: 10;
			width:100%;
	 }

	 .sl-dot {
		 text-indent: -9999px;
		 border: 0;
		 border-radius: 50%;
		 width: 12px;
		 height: 12px;
		 padding: 0;
		 margin: 3px;
		 background-color: transparent;
			border: 1px solid #fff;
		 -webkit-appearance: none;
		 cursor:pointer;
			outline:none;
	 }

	 .sl-dot--current {
		 background-color: #fff;
			border-color: #fff;
	 }*/
	/* end dost nav*/
